<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i>玩法介绍</a>
  </div>
</header>
<div class="main">
  <ul class="jltab jsBox">
    <li><a class="all" id="m_intro">玩法介绍</a></li>
    <li><a class="yzj" id="m_play">玩法规则</a></li>
    <li><a class="wzj" id="m_award">奖项规则</a></li>
  </ul>
  <div class="contenttxt bt3">
    <p class="hidden" id="intro">
      1、混合过关是什么？怎么才算是混合过关？
      <br><br>
      “混合过关”并非玩法，而是一种投注方式。在我们以往的竞彩过关投注中，全部是前后比赛场次选择同一运动项目的同一种游戏进行投注，这种投注方式被称为“一般过关投注”，而现在新的投注方式出现了：前后比赛场次选择同一运动项目不同游戏也可以进行投注，这种投注方式称为“混合过关投注”。
      <br><br>
      2、足球和篮球的不同游戏玩法是否能“混合过关”？
      <br><br>
      不同运动项目的是不能混合过关投注的，所以竞彩足球和竞彩篮球是无法混合一切过关投注的。
      <br><br>
      3、同一场比赛的不同玩法能否“混合过关”？
      <br><br>
      是不可以的。第一是规则上不允许。第二是，选择相同比赛的不同玩法不能称为过关，因为比分“0-0”打出后，半全场、总进球、胜平负是必然结果，根本不需要过关。我们应该更好的理解一下“过关”的含义，选择不同比赛的选项，才是过关。
      <br><br>
      4、混合过关每注所能达到的最高关数？
      简单来说是按照你的按照你的混合过关投注内容上线最低的过关标准,竞彩中过关数最高的是胜平负(8关),最低是比分(4关)，当您的混合过关的投注内容里面含有1个比分的投注选项，那么你这个方案就最高只能按照4关来投注.
      有些类似"木桶原理",木桶能承装多少水(能串多少关),与最短的那块木板有关(与所选到的玩法中,关数上线最低的玩法一致).目前竞彩足球和竞彩篮球的最高关数可以参考如下:
      <br>
      足球:胜平负8关/总进球6关/半全场4关/比分4关
      <br>
      篮球:胜负4关/让分胜负8关/大小分8关/胜分差4关

      <br><br>
      5、“混合过关”每注最大中奖金额？
      <br><br>
      每注能够获得的最大中奖金额，与过关场次数有直接关系，这个规则与以往的“一般过关投注”奖金上限相同，如下：
      2场或3场过关投注，单注最高奖金限额20万元。
      4场或5场过关投注，单注最高奖金限额50万元。
      6场及6场以上过关投注，单注最高奖金限额100万元。
      <br><br>
      6、“冠军、冠亚军”这种名次玩法是否可以参与“混合过关”？
      <br>
      不可以。在《通知》和《公告》中明确指出，是北京单场竞猜游戏增加混合过关投注方式。另外，在“冠军、冠亚军”玩法规则中明确指出不能进行过关投注。
      <br><br>
      7、问：“混合过关”的投注方式，亮点在哪里？
      <br>
      混合过关投注显而易见和传统的一般过关有着本质的区别，那么它在实战过程中的技巧肯定又是和一般过关有着本质的区别。
      相对于传统的一般过关玩法，混合过关增添了竞彩的趣味性及灵活性，也更考究彩民们的投注技巧。混合过关与传统的一般过关优点。
      <br>
      A：过关组合灵活性
      <br>
      一般过关：只能选择一种玩法的过关方式，选择度单一。
      <br>
      混合过关：突破玩法界限，实现各种玩法的自由组合，四种游戏一票打尽。
      <br><br>
      B：比赛选择性<br>
      一般过关：当选择一场比赛的一种玩法后，必须选择相同玩法的不同比赛一起投注，才能获得过关固定奖金的乘积效果。这对于对彩民对比赛的把握及玩法熟悉度要求较高。
      <br>
      混合过关：将一场比赛的足球胜平负，半全场胜平负，总进球，比分等玩法选择一个做胆，其他选项选择不同比赛的任意玩法与之配合，可以提高中奖率，增加中奖回报率。
      <br><br>
      C：中奖难易度
      <br>
      一般过关：高奖金玩法必须与相同玩法串关，中奖概率低。
      <br>
      混合过关：由于高奖金玩法可以与低奖金玩法串在一起，变相降低冷门玩法难度，尤其是总进球数，半全场胜平负等玩法，大大增加了中奖机会。比如半全场玩法很难选到两个非常有信心的选项，只有一个胆的情况下，可以搭配一场奖金较低，打出概率极高的胜平负玩法选择作混合过关。
      <br><br>
      D：规避比赛风险
      <br>
      一般过关：一些强弱对话的比赛由于有让球增大了胜平负玩法的难度，彩民在选择这种比赛时往往要考虑让球后的彩果，变相增加了中奖难度。
      <br>
      混合过关：在选择好一场比赛后，有让球的强弱对话可以考虑用其他的玩法（比如半全场玩法）替换胜平负玩法投注，将大大降低中奖难度。
      <br><br>
      综上所述，混合过关对比传统的一般过关有着组合自由，投注选择灵活的最大特点，使用这种投注方式可以有效规避风险、提高中奖率及中奖回报率。相信它会带给彩民们更多的投注乐趣。

    </p>

    <p class="hidden" id="play">
      1.2 彩种规则:
      <br><br>
      竞彩足球游戏竞彩的比赛由国家体育总局体育彩票管理中心选定并向社会公布.
      <br><br>
      第一条 根据 《彩票管理条例》(国务院令第554号)等有关规定,制定本规则.
      <br><br>
      第二条 竞彩足球游戏由国家体育总局体育彩票管理中心组织发行,省级体育彩票管理中心在所辖区域内承销.
      <br><br>
      第三条 竞彩足球游戏采用计算机网络系统发行销售.
      <br><br>
      第四条 竞彩足球游戏实行自愿购买,凡购买该彩票着被视为同意并遵守本规则.
      <br><br>
      第五条 不得向未成年人出售或兑换奖金.

    </p>

    <p class="hidden" id="award">
      1.3奖金设定
      <br><br>
      竞彩足球游戏的奖金为销售额的69%,其中的68%为返奖奖金,1%为调节奖金.根据游戏规则,本游戏设置浮动奖金和固定奖金.
      <br><br>
      单注彩票保底奖金:如中奖者的单注奖金不足2元,将补足2元,补足部分从调节基金中支出.
      <br><br>
      过关奖金计算
      <br><br>
      固定奖金:过关投注的奖金为固定奖金.
      <br><br>
      单注中奖奖金即为固定奖金(单注).
      <br><br>
      固定奖金:竞彩的过关投注奖金是根据用户购买时的赔率来计算的,不受投注完成后的调整变化所影响.所以称之为固定奖金.
      <br>
      过关中奖奖金=2元*(所选场次对应的开奖奖金)*倍数.
      <br><br>
      固定奖金单注彩票最高限额:
      <br>
      (1) 选择2-3场过关投注的,单注最高奖金限额20万元;
      <br>
      (2) 选择4-5场过关投注的,单注最高奖金限额50万元;
      <br>
      (3)选择6场过关投注的,单注最高奖金限额100万元.
      <br>
    </p>
  </div>
</div>
