<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i>玩法介绍</a>
  </div>
</header>
<!--<div class="w45"></div>-->

<!--内容-->
<div id="main">
  <ul class="jltab jsBox">
    <li><a class="all" id="m_intro">玩法介绍</a></li>
    <li><a class="yzj" id="m_play">玩法规则</a></li>
    <li><a class="wzj" id="m_award">奖项规则</a></li>
  </ul>
  <div class="contenttxt bt3">
    <p class="hidden" id="intro">
      第一条  冠军竞猜游戏以国家体育总局体育彩票管理中心选定的国际重要足球、篮球赛事为竞猜对象，由购票者对指定竞猜赛事的冠军归属结果进行投注，每项竞猜赛事设置特定数量的结果选项。
      <br><br>
      结果选项包括2种：
      <br><br>
      （一）“某队伍”：某队伍获得该项竞猜赛事的冠军。
      <br><br>
      （二）“其他”：任意未包含在“某队伍”范围内的队伍获得该项竞猜赛事的冠军。
      <br><br>
      第二条  冠军竞猜游戏投注方式包括单式投注、复式投注，可多倍投注。
      <br><br>
      购票者对所选竞猜赛事选择1种投注结果为单式投注，选择2种或2种以上投注结果为复式投注。
      <br><br>
      购票者可对其选定的结果进行多倍投注，投注倍数范围为2至99倍。
      <br><br>
      第三条  冠军竞猜游戏每注金额人民币 2元。单张彩票最大投注金额不得超过人民币20000元。
      <br><br>
      第四条  如果因销售终端故障、通讯线路故障或彩票代销者销售额度受限等原因造成投注不成功，应当退还购票者投注金额。
      <br><br>
      第五条  冠军竞猜游戏投注单只用于辅助购票者投注，不作为兑奖凭证，也不作为购票者投注结果的间接证明。
      <br>
    </p>

    <p class="hidden" id="play">
      第一条  根据《彩票管理条例》（国务院令第554号）、《彩票管理条例实施细则》（财政部 民政部 国家体育总局令第67号）等有关规定，制定本规则。
      <br><br>
      第二条  中国体育彩票冠军竞猜彩票游戏（以下简称冠军竞猜游戏）由国家体育总局体育彩票管理中心组织发行，各省级体育彩票管理中心在所辖区域内承销。
      <br><br>
      第三条  冠军竞猜游戏采用计算机网络系统发行销售。
      <br><br>
      第四条  冠军竞猜游戏实行自愿购买，凡购买该彩票者即被视为同意并遵守本规则。
      <br><br>
      第五条  不得向未成年人出售彩票或兑付奖金。
      <br>
    </p>

    <p class="hidden" id="award">
      第一条   冠军竞猜游戏按销售总额的69％、13％和18％分别计提彩票奖金、彩票发行费和彩票公益金。彩票奖金中，68%为返奖奖金，1%为调节基金。
      <br><br>
      第二条  奖金分配办法如下：
      <br><br>
      冠军竞猜游戏设置固定奖金。该固定奖金为相对固定奖金，在销售过程中根据投注额和其他相关因素调整变动，购票者在完成某一投注时所对应的固定奖金额即为该投注中奖后的奖金额，不受之后的调整变动影响。
      <br><br>
      每个有效投注的固定奖金由国家体育总局体育彩票管理中心在该项竞猜赛事开始销售前，通过专用计算机分析系统设定。
      <br><br>
      固定奖金的设定和调整变化情况通过销售系统和其他指定方式予以公布。
      <br><br>
      第三条  冠军竞猜游戏设置调节基金，调节基金由销售总额的1％和逾期未退票的票款组成，专项用于支付不可预见的奖金支出风险、补充奖池和开展派奖。
      <br><br>
      第四条  冠军竞猜游戏设置奖池，奖池由竞猜赛事的应计提返奖奖金与实际中出奖金的差额累计而成。当某个赛事的应计提返奖奖金大于其实际中出奖金时，余额滚入奖池；当某个赛事的应计提返奖奖金小于其实际中出奖金时，差额用奖池补足；若奖池不足时，用调节基金补足，调节基金不足时，从彩票兑奖周转金中垫支。在出现彩票兑奖周转金垫支的情况下，当其调节基金有资金滚入时优先偿还彩票兑奖周转金垫支部分。
      <br><br>
      第五条  冠军竞猜游戏的奖池、调节基金按竞猜对象分类管理。足球赛事冠军竞猜游戏与足球单场竞猜游戏的奖池、调节基金统一管理，相互间可调剂使用；篮球赛事冠军竞猜游戏与篮球单场竞猜游戏的奖池、调节基金统一管理，相互间可调剂使用。明。
      <br>
    </p>
  </div>
</div>