<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i>玩法介绍</a>
  </div>
</header>
<!--<div class="w45"></div>-->

<!--内容-->
<div id="main">
  <ul class="jltab jsBox">
    <li><a class="all" id="m_intro">玩法介绍</a></li>
    <li><a class="yzj" id="m_play">玩法规则</a></li>
    <li><a class="wzj" id="m_award">奖项规则</a></li>
  </ul>
  <div class="contenttxt bt3">
    <p class="hidden" id="intro">
      中国福利彩票３Ｄ游戏（以下简称３Ｄ），是以一个３位自然数为投注号码的彩票，投注者从０００－９９９的数字中选择一个３位数进行投注。
      <br><br>
      ３Ｄ的投注方式分为直选投注与组选投注。直选投注是将３位数以惟一的排列方式进行单注投注。组选投注是将投注号码的所有排列方式作为一注投注号码进行的单注投注。如果一注组选号码的３个数字各不相同，则有６种不同的排列方式，因而就有６个中奖机会，这种组选投注方式简称"组选６"；如果一注组选号码的３个数字有两个数字相同，则有３种不同的排列方式，因而就有３个中奖机会，这种组选投注方式简称"组选３"。
      <br><br>
      ３Ｄ每注投注金额为人民币２元。
      <br>
    </p>

    <p class="hidden" id="play">
      中国福利彩票发行管理中心负责３Ｄ的开奖和摇奖工作，每天在北京开奖一次，各省（区、市）共享统一的号码。
      <br><br>
      摇奖在北京市中国福利彩票３Ｄ摇奖大厅公开进行，在公正人员监督下，使用中国福利彩票发行管理中心指定的专用摇奖器，摇出中奖号码。 ３Ｄ摇奖时，摇出一个３位数的号码，构成３Ｄ的中奖号码。
      <br><br>
      ３Ｄ的设奖奖金占彩票销售总额的５０％。其中：当期奖金为销售总额的４９％；调节基金为销售总额的１％。
      <br><br>
      福彩３Ｄ限号规则
      <br>
      由于３Ｄ玩法采用固定赔率设奖，３Ｄ彩票销售中，若大多数彩民都集中选同一注号码，国家彩票发行结构和彩民就会面临巨大风险。为把这种风险控制在一定范围内，３Ｄ游戏规则规定３Ｄ实行限量销售。遇部分号码销售注数超过安全线时，彩票销售系统就会禁止销售该号码，这就是限号。
      <br>
    </p>

    <p class="hidden" id="award">
      直选投注：
      <br>
      中奖金额除北京每注９８０元，其他省市每注１０００元；
      <br><br>
      组选３投注：
      <br>
      中奖号码中任意两位数字相同（开奖号码中的３个数字有两个相同，即为组三），所选号码与中奖号码相同且顺序不限，则该注彩票中奖。例如，中奖号码为 ５４４ ，则中奖结果为：５４４ 、４５４ 、４４５
      之一均可。中奖金额为每注３２０元（上海每注３３３元）。
      <br><br>
      组选６投注：
      <br>
      中奖金额为每注１６０元（上海每注１６６元）。
      <br>
    </p>
  </div>
</div>