<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i>玩法介绍</a>
  </div>
</header>
<!--<div class="w45"></div>-->

<!--内容-->
<div id="main">
  <ul class="jltab jsBox">
    <li><a class="all" id="m_intro">玩法介绍</a></li>
    <li><a class="yzj" id="m_play">玩法规则</a></li>
    <li><a class="wzj" id="m_award">奖项规则</a></li>
  </ul>
  <div class="contenttxt bt3">
    <p class="hidden" id="intro">
      “双色球”彩票投注区分为红色球号码区和蓝色球号码区。每注投注号码由６个红色球号码和１个蓝色球号码组成。红色球号码从１－－３３中选择；蓝色球号码从１－－１６中选择。每注金额人民币２元。
      <br><br>
      “双色球”的投注方法可分为自选号码投注和机选号码投注；其投注方式有单式投注和复式投注。自选号码投注是指由投注者自行选定投注号码的投注，机选号码投注是指由投注机为投注者随机产生投注号码的投注。单式投注是从红色球号码中选择６个号码，从蓝色球号码中选择１个号码，组合为一注投注号码的投注，复式投注有三种：
      <br><br>
      （一）红色球号码复式：从红色球号码中选择７－－２０个号码，从蓝色球号码中选择１个号码，组合成多注投注号码的投注。
      <br><br>
      （二）蓝色球号码复式：从红色球号码中选择６个号码，从蓝色球号码中选择２－－１６个号码，组合成多注投注号码的投注。
      <br><br>
      （三）全复式：从红色球号码中选择７－－２０个号码，从蓝色球号码中选择２－－１６个号码，组合成多注投注号码的投注。
      <br>
    </p>

    <p class="hidden" id="play">
      总则
      <br><br>
      第一条 本规则依据财政部《彩票发行与销售管理暂行规定》和《中国福利彩票（电脑型）联合发行与销售管理暂行办法》（以下简称《管理办法》）制定。
      <br><br>
      第二条 中国福利彩票"双色球"（以下简称"双色球"）是一种联合发行的"乐透型"福利彩票。采用计算机网络系统发行销售，定期电视开奖。
      <br><br>
      第三条"双色球"由中国福利彩票发行管理中心（以下简称中福彩中心）统一组织发行，在全国销售。
      <br><br>
      第四条 参与"双色球"销售的省级行政区域福利彩票发行中心（以下称省中心）在中福彩中心的直接领导下，负责对本地区的"双色球"销售活动实施具体的组织和管理。
      <br><br>
      第五条"双色球"彩票实行自愿购买，凡购买者均被视为同意并遵守本规则。
      <br>
    </p>

    <p class="hidden" id="award">
      一等奖：７个号码相符（６个红色球号码和１个蓝色球号码）（红色球号码顺序不限，下同）
      <br><br>
      二等奖：６个红色球号码相符；
      <br><br>
      三等奖：５个红色球号码和１个蓝色球号码相符；
      <br><br>
      四等奖：５个红色球号码或４个红色球号码和１个蓝色球号码相符；
      <br><br>
      五等奖：４个红色球号码或３个红色球号码和１个蓝色球号码相符；
      <br><br>
      六等奖：１个蓝色球号码相符（有无红色球号码相符均可）。
      <br><br>
      一等奖和二等奖中奖者按各奖级的中奖注数均分该奖级的奖金；三至六等奖按各奖级的单注固定奖额获得奖金。当期每注投注号码只有一次中奖机会，不能兼中兼得（另行设奖按设奖规定执行）。
      <br>
    </p>
  </div>
</div>