<!--头部-->
<header>
  <a class="back"><i class="fm">&#xf035;</i>登录</a>

  <h1 class="f24">彩票直通车</h1>
  <a class="pr0">注册</a>
</header>
<!--内容-->
<!--<div class="w45"></div>-->
<div id="main">
  <div class="login">
    <ul>
      <li class="overflow">
        <i class="fm">&#x2005;</i>
        <input type="text" class="username"/>
      </li>
      <li class="overflow">
        <i class="fm">&#xf007;</i>
        <input type="password" class="password"/>
      </li>
      <li class="bordern">
        <button class="loginbtn">我要登录</button>
      </li>
    </ul>
  </div>
</div>
