<!--头部-->
<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i><span class="title"></span>投注</a>
  </div>
</header>
<!--<div class="w45"></div>-->
<!--内容-->
<div id="main">

  <div class="lotteryNum">
    <div id="issueNo"></div>
  </div>

  <div class="gmList">
    <table cellpadding="0" cellspacing="0" width="100%" class="line30">
      <colgroup>
        <col width="70%"/>
        <col width="20%"/>
        <col width="10%"/>
      </colgroup>
      <tbody>

      </tbody>
    </table>
  </div>

  <div class="gmchose">
    <a id="clearAll" class="clearall">全部清除</a>
    <a id="goBall" class="chose fr">继续选号</a>
    <a id="random" class="chose click fr">再机选1注</a>
  </div>

  <div class="plr8 bt3">
    <table cellpadding="0" cellspacing="0" width="100%" class="sftab">
      <colgroup>
        <col width="2%"/>
        <col width="25%"/>
        <col width=""/>
        <col width="40%"/>
      </colgroup>
      <tr>
        <td>&nbsp;</td>
        <td class="tr">方案注数：</td>
        <td><span class="betsShow"></span>注</td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="tr">方案倍数：</td>
        <td><input id="timesInput" type="tel" maxlength="3" value="1" class="inutext tc"/></td>
        <td>倍</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="tr">连&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;追：</td>
        <td><input id="issueInput" type="tel" maxlength="2" value="1" class="inutext tc"/></td>
        <td>期<input id="stopBetting" type="checkbox" checked/><label for="stopBetting">中奖后停止</label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="tr">投注金额：</td>
        <td><b class="cf60 amountShow"></b>元</td>
        <td></td>
      </tr>
    </table>
  </div>

</div>

<div class="w45"></div>

<footer>
  <a class="fl btn1">合买</a>
  <a class="fr btn2">确认</a><em>
  共<span class="amountShow"></span>元<br>
  <span class="betsShow"></span>注&nbsp;&nbsp;
  追<span class="issueShow"></span>期&nbsp;&nbsp;
  投<span class="timesShow"></span>倍</em>
</footer>
