  <header>
    <div>
      <a class="back"><i class="fm">&#xf035;</i>账户明细 </a>
    </div>
  </header>

  <div class="w45"></div>

  <div id="main">
    <ul class="jltab">
      <li><a class="all">全部</a></li>
      <li><a class="yzj">收入</a></li>
      <li><a class="wzj">支出</a></li>
      <li><a class="zg">近一周</a></li>
    </ul>

    <table id="recordTable" cellpadding="0" cellspacing="0" width="100%" class="line30">

      <colgroup>
        <col width="2%">
        <col width="98%">
      </colgroup>

      <tbody>

      </tbody>

    </table>
  </div>

<footer>
  <div class="footera">
    <div class="loadText"></div>
    <div class="loadIcon"></div>
  </div>
</footer>