    <!--头部-->
    <header>
        <div>
            <a class="back"><i class="fm">&#xf035;</i>身份认证</a>
        </div>
    </header>
    <!---<div class="w45"></div>-->
    <!--内容-->
    <div id="main" class="f14">
        <table cellpadding="0" cellspacing="0" width="100%" class="sftab">
            <colgroup>
                <col width="2%"/>
                <col width="22%"/>
                <col width=""/>
                <col width="20%"/>
            </colgroup>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><i class="smbg"><i></i>请填写真实资料，身份证姓名必须与真实姓名一致</i></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">真实姓名：</td>
                <td><input id="realName" type="text" class="inutext"/></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">身份证号：</td>
                <td><input id="idNumber" type="text" class="inutext"/></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <button class="surebtn mt20"></button>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
