    <!--头部-->
    <header>
        <a class="back"><i class="fm">&#xf035;绑定银行卡</i></a>
    </header>
    <div class="w24"></div>
    <!--内容-->
    <div id="main" class="f14">
        <table cellpadding="0" cellspacing="0" width="100%" class="sftab">
            <colgroup>
                <col width="2%" />
                <col width="26%" />
                <col width="" />
                <col width="20%" />
            </colgroup>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><i class="smbg"><i></i>请先绑定银行卡</i></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">提款银行：</td>
                <td>
                    <div id="bankShow" class="selectbox">
                        <span id="selectedBank">请选择提款银行</span>
                        <i class="fm fr">&#xf004;</i>
                        <select id="bankList">
                        </select>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">开户省市：</td>
                <td>
                    <div class="selectbox">
                        <span id="province">请选择</span>
                        <i class="fm fr">&#xf004;</i>
                        <select id="selectProvince"> </select>
                    </div>
                </td>
                <td>省(市)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">&nbsp;</td>
                <td>
                    <div class="selectbox">
                        <span id="city">请选择</span>
                        <i class="fm fr">&#xf004;</i>
                        <select id="selectCity">
                        </select>
                    </div>
                </td>
                <td>市(区、县)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">开户行名称：</td>
                <td><input id="bankAccount" type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">银行卡号：</td>
                <td><input id="bankNum" type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">提款密码：</td>
                <td><input id="bankPass" type="password" maxlength="15" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">确认提款密码：</td>
                <td><input id="bankPassConf" type="password" maxlength="15" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button class="surebtn mt20"></button></td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
