<div id="buyRecordDiv">
<!--头部-->
<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i><span id="title"></span></a>
  </div>
</header>
<!--内容-->
<div id="main">

  <ul class="jltab">
    <li><a id="m_all" class="all">全部</a></li>
    <li><a id="m_awarded" class="yzj">已中奖</a></li>
    <li><a id="m_notAward" class="wzj">未中奖</a></li>
    <li><a id="m_buy" class="zg">自购</a></li>
  </ul>

  <!--开奖列表-->
  <div class="mBox">

    <!--开奖列表-->
    <table cellpadding="0" cellspacing="0" width="100%" class="buyInformation jlList">
      <colgroup>
        <col width="60">
        <col>
        <col width="100">
        <col width="40">
      </colgroup>
      <tbody>

      </tbody>
    </table>

  </div>

  <div class="loadMore">
    <div class="loadText"></div>
    <div class="loadIcon"></div>
  </div>
</div>
</div>