<!--头部-->
<header>
  <a class="back"><i class="fm">&#xf035;</i>提款</a>
</header>

<div class="box">
  <p class="txt">
    (1)、因需手工处理您的提款，10元以下的提款我们暂不接受。如果帐户资金低于10元，仍需提款，请一次性提清.
    <br/><br/>
    (2)、周一至周日每日处理提款，法定节假日除外。我们将在您申请提款后的2-24小时内将款项汇出，银行到账时间：正常提款，最快2小时到账，除异地跨行转账资金可在1～3个工作日到账之外其他所有银行24小时内均可到账（银行系统正常的情况下）。节假日到账时间顺延。若三天内仍未到账，请及时与本站工作客服联系;
    <br><br/>
    (3)、根据相关条例等法律规定和银行/第三方支付等机构的规定，为了防止洗钱及信用卡套现等违法犯罪行为，保护正常用户的资金安全，本站特针对提款做出如下规定：用户单笔充值金额消费（成功出票）不足30%（不含奖金），其帐户申请提款，本站将按原路退还处理并收取5%手续费或者按异常提款处理并收取10%手续费（单笔违规提款最低收取5元手续费），同时提款到帐日自提出申请之日起，不得少于15个工作日。单笔充值金额消费满（成功出票）30%的正常提款用户不受此限制。
    <br><br/>
  </p>
</div>

<footer>
  <a id="haveRead">我已阅读</a>
</footer>