    <!--头部-->
    <header>
        <a class="return1"><i class="fm">&#xf035;</i>修改信息</a>
    </header>
    <div class="w45"></div>
    <!--内容-->
    <div id="main" class="f14">
        <table cellpadding="0" cellspacing="0" width="100%" class="sftab">
            <colgroup>
                <col width="2%" />
                <col width="27%" />
                <col width="" />
                <col width="20%" />
            </colgroup>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><i class="smbg"><i></i>修改昵称</i></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">昵称：</td>
                <td><input type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button class="surebtn mt20">确认</button></td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" class="sftab">
            <colgroup>
                <col width="2%" />
                <col width="27%" />
                <col width="" />
                <col width="20%" />
            </colgroup>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><i class="smbg"><i></i>修改我的登录密码</i></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">原登录密码：</td>
                <td><input type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">新登录密码：</td>
                <td><input type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">确认登录密码：</td>
                <td><input type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button class="surebtn mt20">确认</button></td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" class="sftab">
            <colgroup>
                <col width="2%" />
                <col width="27%" />
                <col width="" />
                <col width="20%" />
            </colgroup>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><i class="smbg"><i></i>修改我的提款密码</i></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">原登录密码：</td>
                <td><input type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">新登录密码：</td>
                <td><input type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="tr">确认登录密码：</td>
                <td><input type="text" class="inutext" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button class="surebtn mt20">确认</button></td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
