<!--头部-->
<header>
  <a class="back"><i class="fm">&#xf035;</i>提款</a>
</header>
<!--内容-->
<div id="main" class="f14">
  <table cellpadding="0" cellspacing="0" width="100%" class="sftab">
    <colgroup>
      <col width="2%" />
      <col width="26%" />
      <col width="" />
      <col width="20%" />
    </colgroup>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><i class="smbg"><i></i>请填写真实资料，银行卡用户必须与注册真实姓名一致</i></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="tr">真实姓名：</td>
      <td id="trueName"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="tr">可提款金额：</td>
      <td id="candrawal"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="tr">开户银行：</td>
      <td id="bankInfo"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="tr">银行帐号：</td>
      <td id="bankNum"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="tr">提款金额：</td>
      <td><input id="drawalmoney" type="text" class="inutext" /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="tr">提款密码：</td>
      <td><input id="drawalpass" type="password" class="inutext" /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><button id="notes" class="surebtn mt20 fl" style="width:45%">提款须知</button><button id="confdrawal" class="surebtn mt20 fr" style="width:45%">确认提款</button></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>