<div id="wrapper">
  <!--头部-->
  <header>
    <a class="back"><i class="fm">&#xf035;</i>赛事分析</a>
    <a class="pr0" id="refresh">刷新</a>
  </header>
  <!--内容-->
  <div id="main" class="f14">
    <table cellpadding="0" cellspacing="0" width="100%" class="spftab">
      <thead>
      <tr>
        <th width="40%">主队</th>
        <th width="20%">英超</th>
        <th width="40%">客队</th>
      </tr>
      </thead>
      <tbody>
      <tr id="teamInfo">
        <td class="host">正在加载数据....</td>
        <td class="score">&nbsp;</td>
        <td class="visit">&nbsp;</td>
      </tr>
      </tbody>
    </table>
    <ul id="tabs" class="jltab jltab1">
      <li><a class="all" data-type="jf">积分</a></li>
      <li><a class="yzj" data-type="zj">战绩</a></li>
      <li><a class="wzj click" data-type="op">欧赔</a></li>
      <li><a class="zg" data-type="yp">亚盘</a></li>
      <li><a class="dx" data-type="dx">大小</a></li>
    </ul>
    <div id="detail"></div>
  </div>
</div>
