<div id="wrapper">
  <!--头部-->
  <header>
    <div>
      <a href="#" class="return1"><i class="fm">&#xf035;</i>竞彩足球胜平负合买</a>
    </div>
  </header>
  <div class="w45"></div>
  <!--内容-->
  <div id="main">
    <div class="hmBox">
      <table width="100%" cellspacing="0" cellpadding="0" class="sftab">
        <tbody>
        <tr>

          <td class="tr" style="width:5.5em">方案金额：</td>
          <td style="width:4em">128 元</td>
          <td>&nbsp;</td>
        </tr>
        <tr>

          <td class="tr">每份金额：</td>
          <td>128 元</td>
          <td>&nbsp;</td>
        </tr>
        <tr>

          <td class="tr">所选玩法：</td>
          <td>3串1</td>
          <td>&nbsp;</td>
        </tr>
        <tr>

          <td class="tr">购买金额：</td>
          <td><input type="text" class="inutext c999"></td>
          <td>元，至少购买1元</td>
        </tr>
        <tr>

          <td class="tr">保底金额：</td>
          <td><input type="text" class="inutext c999"></td>
          <td>元，可不保底</td>
        </tr>
        <tr>

          <td class="tr">中奖提成：</td>
          <td><input type="text" class="inutext c999"></td>
          <td>&nbsp;</td>
        </tr>
        <tr class="anniu">

          <td class="tr">保密设置：</td>
          <td colspan="2">
            <div class="gmchose"><a class="chose click" href="#">完全公开</a><a class="chose" href="#">跟单公开</a><a
              class="chose click" href="#">截止公开</a><a class="chose click" href="#">不公开</a></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="w45"></div>
</div>
<footer>
  <a class="fr a2" href="#">确认</a><i>共4元 2注 追1期 投1倍</i>
</footer>
</body>

