<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>h5</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <!-- 客户端充值内嵌.-->
    <servlet>
        <servlet-name>clientChargeServlet</servlet-name>
        <servlet-class>com.h5.user.charge.servlet.client.ClientChargeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--支付宝充值.-->
    <servlet>
        <servlet-name>zfbWap</servlet-name>
        <servlet-class>com.h5.user.charge.servlet.zfb.ZfbWapServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--财付通充值.-->
    <servlet>
        <servlet-name>cftWap</servlet-name>
        <servlet-class>com.h5.user.charge.servlet.cft.CftWapServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--充值卡充值.-->
    <servlet>
        <servlet-name>czk</servlet-name>
        <servlet-class>com.h5.user.charge.servlet.czk.CzkChargeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--直通卡充值.-->
    <servlet>
        <servlet-name>ztk</servlet-name>
        <servlet-class>com.h5.user.charge.servlet.ztk.ZtkChargeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!--支付宝充值回调-->
    <servlet>
        <servlet-name>zfbWapCallBack</servlet-name>
        <servlet-class>com.h5.user.charge.servlet.zfb.ZfbWapCallBackServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--财付通充值回调-->
    <servlet>
        <servlet-name>cftWapCallBack</servlet-name>
        <servlet-class>com.h5.user.charge.servlet.cft.CftWapCallBackServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cftWapCallBack</servlet-name>
        <url-pattern>/cftWapCallBack</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>zfbWapCallBack</servlet-name>
        <url-pattern>/zfbWapCallBack</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>clientChargeServlet</servlet-name>
        <url-pattern>/clientCharge</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>zfbWap</servlet-name>
        <url-pattern>/zfbWapPay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cftWap</servlet-name>
        <url-pattern>/cftWapPay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>czk</servlet-name>
        <url-pattern>/czkPay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ztk</servlet-name>
        <url-pattern>/ztkPay</url-pattern>
    </servlet-mapping>

</web-app>