<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i>玩法介绍</a>
  </div>
</header>
<!--<div class="w45"></div>-->

<!--内容-->
<div id="main">
  <ul class="jltab jsBox">
    <li><a class="all" id="m_intro">玩法介绍</a></li>
    <li><a class="yzj" id="m_play">玩法规则</a></li>
    <li><a class="wzj" id="m_award">奖项规则</a></li>
  </ul>
  <div class="contenttxt bt3">
    <p class="hidden" id="intro">
      购买“１１选５”电脑体育彩票时，从０１至１１的号码中任选１个或多个（最多８个）号码所组成的一注彩票的投注为单式投注。其中：
      <br><br>
      从１１个号码中任选１个号码的投注为“任选一”；
      <br><br>
      选２个号码的投注分为“任选二”、“选前二”；
      <br><br>
      选３个号码的投注分为“任选三”、“选前三”；
      <br><br>
      选４个号码的投注为“任选四”；
      <br><br>
      选５个号码的投注为“任选五”；
      <br><br>
      选６个号码的投注为“任选六”；
      <br><br>
      选７个号码的投注为“任选七”；
      <br><br>
      选８个号码的投注为“任选八”。
      <br><br>
      “选前二”、“选前三”投注方式分为直选投注和组选投注。
      <br><br>
      直选投注：所选２个或３个号码与当期顺序摇出的５个号码中的前２个或３个号码一一对应进行的投注。
      <br><br>
      组选投注：所选２个或３个号码与当期顺序摇出的５个号码中的前２个或３个号码不按先后，均作为一注投注号码进行的投注。
      <br>
    </p>

    <p class="hidden" id="play">
      “１１选５”电脑体育彩票由国家体育总局体育彩票管理中心组织发行，经财政部批准的省级体育彩票管理中心在所辖区域内承销，采用计算机网络系统发行销售。
      <br><br>
      “１１选５”电脑体育彩票１２分钟一期，１０分钟销售，２分钟开奖，一天78期。
      <br><br>
      “１１选５”电脑体育彩票每期开奖结果通过随机数码生成器，从０１－１１共１１个号码中按顺序自动生成５个不同号码作为当期中奖号码。
      <br><br>
      关于１１选５限号特别说明：
      <br><br>
      彩票管理中心为了加强１１选５的销售管理，对每种投注方式相对应每注投注号码的当前允许销售的最大投注注数按规则进行动态限制。网站１１选５有动态实时限号情况，当１１选５当期出现限号，导致某会员所购买的方案不能成功传送数据，本站工作人员会第一时间电话联系并以站内短消息形式告知其方案将做撤单返款处理。若同一个方案出现部分传送成功，部分传送失败，如２００倍的方案，只能传送成功１００倍，网站将撤掉其未传送成功的１００倍并返还１００倍的款。高频彩种若因中心动态实时限号导致部分方案撤单，敬请用户理解！
      <br>
    </p>

    <p class="hidden" id="award">
      任选一中１，单注固定奖金１３元。
      <br><br>
      任选二中２，单注固定奖金６元；
      <br><br>
      选前二组选，单注固定奖金６５元；
      <br><br>
      选前二直选，单注固定奖金１３０元。
      <br><br>
      任选三中３，单注固定奖金１９元；
      <br><br>
      选前三组选，单注固定奖金１９５元；
      <br><br>
      选前三直选，单注固定奖金１１７０元。
      <br><br>
      任选四中４，单注固定奖金７８元。
      <br><br>
      任选五中５，单注固定奖金５４０元。
      <br><br>
      任选六中５，单注固定奖金９０元。
      <br><br>
      任选七中５，单注固定奖金２６元。
      <br><br>
      任选八中５，单注固定奖金９元。
      <br>
    </p>
  </div>
</div>