<header>
  <div>
    <a class="back"><i class="fm">&#xf035;</i>玩法介绍</a>
  </div>
</header>
<!--<div class="w45"></div>-->

<!--内容-->
<div id="main">
  <ul class="jltab jsBox">
    <li><a class="all" id="m_intro">玩法介绍</a></li>
    <li><a class="yzj" id="m_play">玩法规则</a></li>
    <li><a class="wzj" id="m_award">奖项规则</a></li>
  </ul>
  <div class="contenttxt bt3">
    <p class="hidden" id="intro">
      十一运夺金投注区号码范围为０１～１１，每一个号码分别代表一种运动项目。每期开出５个号码作为中奖号码。十一运夺金玩法即是竞猜５位开奖号码的全部号码或部分号码。
      <br><br>
      任选一　  竞猜第１位开奖号码。
      <br>
      任选二　  竞猜开奖号码中的任意２位。
      <br>
      任选三　  竞猜开奖号码中的任意３位。
      <br>
      任选四　  竞猜开奖号码中的任意４位。
      <br>
      任选五　  选择５个号码，竞猜全部５位开奖号码。
      <br>
      任选六　  选择６个号码，竞猜全部５位开奖号码。
      <br>
      任选七　  选择７个号码，竞猜全部５位开奖号码。
      <br>
      任选八　  选择８个号码，竞猜全部５位开奖号码。
      <br>
      前二直选　竞猜开奖号码前２位，且顺序一致。
      <br>
      前二组选　竞猜开奖号码前２位，顺序不限。
      <br>
      前三直选　竞猜开奖号码前３位，且顺序一致。
      <br>
      前三组选　竞猜开奖号码前３位，顺序不限。
      <br>
    </p>

    <p class="hidden" id="play">
      十一运夺金是一种在线即开型彩票玩法，属于基诺型彩票，由山东省体育彩票管理中心负责承销。
      <br><br>
      每天０９：０５第一期开奖，２１：５５最后一期开奖，每１０分钟开奖一次，每天７８期。开奖通过随机数码生成器，从０１至１１共１１个号码中按顺序自动生成５个不同号码作为当期中奖号码，开奖结果由视频信号或公众媒体播出。
      <br><br>
      关于彩票直通车十一运夺金限号特别说明：
      <br><br>
      网站十一运夺金有动态实时限号情况，当十一运夺金当期出现限号，导致某会员所购买的方案不能成功传送数据，本站工作人员会第一时间电话联系并以站内短消息形式告知其方案将做撤单返款处理。若同一个方案出现部分传送成功，部分传送失败，如２００倍的方案，只能传送成功１００倍，网站将撤掉其未传送成功的１００倍并返还１００倍的款。高频彩种若因中心动态实时限号导致部分方案撤单，敬请用户理解！
      <br><br>
      一、限号规则
      <br>
      彩票管理中心为了加强十一运夺金的销售管理，对每种投注方式相对应每注投注号码的当前允许销售的最大投注注数按规则进行动态限制。
      <br><br>
      １。限号投注方式
      <br>
      根据该游戏的所有投注方式，经合并后按７种限号投注方式进行计算，分别为任选１、任选２、任选３、任选４、任选５～８、选前二组选与直选、选前三组选与直选。在当期销售过程中，当投注号码未达到当前允许销售的最大投注数额时，各限号投注方式按实际销售的投注数额实时从总局中心数据库限号池获取投注许可；若投注号码达到当前允许销售的最大投注数额，则限号池停止向各限号投注方式分配该投注号码的许可。对任选１、任选２、任选３、任选４各设一个限号池，任选５～８共用一个限号池，选前二组选与直选共用一个限号池，选前三组选与直选共用一个限号池。
      <br><br>
      ２。初始投注许可
      <br>
      初始投注许可是指当某种限号投注方式的投注数为零时，每种限号投注方式相对应的每注投注号码允许销售的最大投注注数。初始赔付总额为６００万元，各投注方式初始限陪分别是，任选１为４０万，任选２为３０万，任选３为１５０万，任选４为５０万，任选５－８为１７０万，选前二组选与直选为４０万，选前三组选与直选为１２０万。具体设置如下：
      <br>
      （１）“任选一”投注方式：初始限制注数为３０７６９注；
      <br>
      （２）“任选二”投注方式：初始限制注数为５０００注；
      <br>
      （３）“任选三”投注方式：初始限制注数为７８９４注；
      <br>
      （４）“任选四”投注方式：初始限制注数为１２８２注；
      <br>
      （５）“任选５－８”投注方式”：初始限制注数为３１４８注；
      <br>
      （６）“选前二组选与直选”：初始限制注数为３０７６注；
      <br>
      （７）“选前三组选与直选”：初始限制注数为１０２５注。
      <br><br>
      ３。动态实时限制：
      <br>
      动态实时限制是指在销售过程中，随着销量的增长，每种投注方式的即时允许销售注数，动态实时限制随着该投注方式销售总额的变化，按规定的算法进行动态计算并加以限制的过程。
      <br><br>
      动态实时限制计算公式：
      <br>
      每种投注方式动态实时限制的注数等于初始限制注数加上本期该种投注方式当前销售总额的５９％除以该种投注方式单注中奖奖金后再除以该种投注方式的中奖组合数。即某种投注方式动态实时限制注数＝该投注方式初始限制数＋（该投注方式当前投注总额*５９％／该种投注方式单注奖金／该种投注方式的中奖组合数）。
      <br><br>
      ４。在当期销售过程中，当所选投注号码投注注数未超过当前动态实时限制注数时，该投注视为有效投注；若所选投注号码投注注数已超过当前动态实时限制注数，则视为无效投注，此时销售终端不接受该投注的申请。
      <br><br>
      二、投注限制实例
      <br>
      举例说明上述算法：
      <br>
      “任选三”投注方式初始限制销售注数为７８９４注，假设当前“任选三”投注方式已经销售了１０万元，按５９％派奖计算，则预计应该派发奖金为５。９万元，“任选三”投注方式单注奖金为１９元，中奖组合数为１０，那么动态实时限制为（５９０００÷１９÷１０）＝３１０注（取整数），那么，当前的投注动态限制为初始限制的注数与动态实时限制的注数之和，即（７８９４＋３１０）＝８２０４注；如果“任选三”投注方式的投注号码已经销售了１５００注，则此时系统还可接受销售６７０４注的申请。
      <br>
    </p>

    <p class="hidden" id="award">
      任选一，单注奖金１３元。
      <br><br>
      任选二，单注奖金６元。
      <br><br>
      任选三，单注奖金１９元。
      <br><br>
      任选四，单注奖金７８元。
      <br><br>
      任选五，单注奖金５４０元。
      <br><br>
      任选六，单注奖金９０元。
      <br><br>
      任选七，单注奖金２６元。
      <br><br>
      任选八，单注奖金９元。
      <br><br>
      前二直选，单注奖金１３０元。
      <br><br>
      前二组选，单注奖金６５元。
      <br><br>
      前三直选，单注奖金１１７０元。
      <br><br>
      前三组选，单注奖金１９５元。
      <br>
    </p>
  </div>
</div>