<div id="hmIndex">
  <!--头部-->
  <header>
    <a class="back">
      <i class="fm">&#xf035;</i>
    </a>
    <a class="hmHead">
    合买大厅-<span id="hmTitle"></span>
    <i class="fm" style="font-size: 0.4em; margin: 0 0.2em;">&#xf003;</i>
    </a>
  </header>

  <div class="menuBox">

  </div>
  <!--内容-->
  <div id="main" class="f14">
    <ul class="jltab">
      <li id="byPercent"><a class="all">按进度</a></li>
      <li id="byTotalAmount"><a class="yzj">按总金额</a></li>
    </ul>

    <table cellpadding="0" cellspacing="0" width="100%" class="bb1">

    </table>

  </div>
    <div class="loadMore">
      <div class="loadText"></div>
      <div class="loadIcon"></div>
    </div>
</div>